{% set fname = "{{bench_location}}/{{name}}/tb/testbench/hvl_top.sv" %}
{% extends "base_template.TMPL" %}

{% block description %}

//----------------------------------------------------------------------

// DESCRIPTION: This module loads the test package and starts the UVM phases.

//----------------------------------------------------------------------
{% endblock %}

{% block contents %}

module hvl_top;

  import uvm_pkg::*;
  import {{name}}_tests_pkg::*;

  // pragma uvmf custom module_item_additional begin
  // pragma uvmf custom module_item_additional end



  function pre_run_test();
    // pragma uvmf custom pre_run_test begin
    // pragma uvmf custom pre_run_test end
  endfunction : pre_run_test

  `include "cmn_tb_top.svh"

  //initial begin
  //  $timeformat(-9,3,"ns",5);
  //  run_test();
  //end

endmodule

// pragma uvmf custom external begin
// pragma uvmf custom external end

{% endblock %}
